/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/**** GENERAL ****/

html {
	min-width: 700px;
	min-height: 11d40px;
	position: relative;
}
body {
	font-family: "Comic Sans MS";
	/*** background: url(../images/bg.jpg) repeat; ***/
	background-color:#1C1C1C;
}
.container {
	width: 942px;
	margin: 0 auto;
}


/*** QUICKSAND ***/

.portfolioseperator {
	width: 940px;
	height: 1px;
	background: rgba(182,182,182,.2);
	float: left;
	margin-top: 15px;
}
#filter {
	float: right;
	margin-top: 50px;
}
#filter a {
	font-family: "Comic Sans MS";
	color: #660066;
	font-size: 18px;
	float: left;
	padding-left: 10px;
}
#filter a.active {
	color: #ffffff;
}
#filter a:hover {
	color: #ffffff;
}
#filter a:before {
	content: '|';
	float: left;
	margin-right: 15px;
}
#filter a:first-child:before {
	content: '';
}

.portfoliocontainer {
	width:1052px;
	height: 695px;
	overflow: hidden;
	display: block;
	float: left;
	margin-top: 20px;
	margin-left: -15px;
}
.portfoliocontainer li {
	float: left;
	padding-bottom: 20px;
	padding-right: 20px;
	width: 300px;
	height: 225px;
	position: relative;
	padding-left: 8px;
	padding-top: 15px;
}
.portfoliocontainer li img {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .25);
	border-bottom: 1px solid #000000;
}
.portfoliocontainer ul{
	overflow:hidden;
}

.portfoliocontainer ul.hidden{
	display:none;
}
.portfoliohover {
	width: 210px;
	height: 54px;
	background-image: url(../images/portfolio/workhover.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	position: absolute;
	opacity: 0;
	top: 200px;
	left: 15px;
	-webkit-transition: opacity .5s ease-in-out;
  	-moz-transition: opacity .5s ease-in-out;
  	-o-transition: opacity .5s ease-in-out;
 	 transition: opacity .5s ease-in-out;
}
#stage li a:hover .portfoliohover {
	opacity: 1;
	-webkit-transition: opacity .5s ease-in-out;
  	-moz-transition: opacity .5s ease-in-out;
  	-o-transition: opacity .5s ease-in-out;
 	 transition: opacity .5s ease-in-out;
}
.porthover1 {
	font-size: 13px;
	font-weight: bold;
	color: #343434;
	text-shadow: 0px 1px 0px #FFFFFF;
	filter: dropshadow(color=#FFFFFF, offx=0, offy=1);
	float: left;
	margin-top: 19px;
	margin-left: 9px;
}
.porthover2 {
	font-size: 11px;
	color: #343434;
	text-shadow: 0px 1px 0px rgba(255,255,255,.5);
	filter: dropshadow(color=rgba(255,255,255,.5), offx=0, offy=1);
	float: left;
	margin-top: 4px;
	margin-left: 9px;
}


/*** FOOTER ***/

.footerseperator {
	width: 940px;
	height: 1px;
	background: rgba(182,182,182,.2);
	float: left;
	margin-top: 20px;
}
footer {
	width: 942px;
	height: 30px;
	float: left;
	margin-top: 15px;
	padding-bottom: 50px;
}
footer h1 {
	font-size: 14px;
	color: #660066;
	float: left;
	text-shadow: 0px 1px 0px rgba(0,0,0,.5);
	filter: dropshadow(color=rgba(0,0,0,.5), offx=0, offy=1);
}
footer h2 {
	font-size: 14px;
	color: #660066;
	float: left;
	text-shadow: 0px 1px 0px rgba(0,0,0,.8);
	filter: dropshadow(color=rgba(0,0,0,.8), offx=0, offy=1);
	clear: left;
	margin-top: 5px;

}
footer h2 a {
	color: #660066;
	-webkit-transition: 250ms;
  	-moz-transition: 250ms;
  	-o-transition: 250ms;
 	 transition: 250ms;
}
footer h2 a:hover {
	color: #dcdfe6;
	webkit-transition: 250ms;
  	-moz-transition: 250ms;
  	-o-transition: 250ms;
 	 transition: 250ms;
}
footer h3 {
	font-size: 14px;
	color: #660066;
	float: right;
	text-shadow: 0px 1px 0px rgba(0,0,0,.8);
	filter: dropshadow(color=rgba(0,0,0,.8), offx=0, offy=1);
}
footer h3 a {
	color: #66066;
	-webkit-transition: 250ms;
  	-moz-transition: 250ms;
  	-o-transition: 250ms;
 	 transition: 250ms;
}
footer h3 a:hover {
	color: #dcdfe6;
	webkit-transition: 250ms;
  	-moz-transition: 250ms;
  	-o-transition: 250ms;
 	 transition: 250ms;
}
