.image-logo {
	width:100px;
	height:100px;
}

.style-text {
	font-family: "Comic Sans MS";
	font-size:150%	
}

.style-title {
        font-family: "Comic Sans MS";
}

.background-color {
	background-color: #D1EB78;
}
