.image-logo {
	width:100px;
	height:100px;
}

.style-text {
	font-family: "Comic Sans MS";
	font-size:200%	
}

.style-title {
	font-family: 'Shadows Into Light', cursive;
	font-size:400%	

}

.background-color {
	background-color: #D1EB78;
}

